@import url(nulestyle.css);
body {
  min-height: 100%;
  min-width: 100%;
}

.App {
  width: 100%;
  min-height: 100%;
}

#root {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#ffffff));
  background: linear-gradient(#333333, #ffffff);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
}

._container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.nav {
  z-index: 5;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 642px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo {
  color: white;
  font-size: 50px;
}

@media (max-width: 1024px) {
  .logo {
    margin: 0 0 20px 0;
  }
}

.user__time {
  min-height: 100px;
  min-width: 100px;
  background-color: #333333;
}

.search {
  width: 300px;
  height: 50px;
  background-color: white;
  display: inline-block;
}

.search::-webkit-input-placeholder {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}

.search:-ms-input-placeholder {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}

.search::-ms-input-placeholder {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}

.search::placeholder {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}

.mouths__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mount__cont2 {
  margin: 0 0  0 10px;
  height: 20px;
  width: 20px;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.mouths {
  overflow: hidden;
  width: 100%;
  height: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mouth {
  margin: 5px;
  width: 25px;
  height: 50px;
  background-color: #fff;
  color: black;
  font-size: 20px;
  overflow: hidden;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

.form__mounth {
  width: 100%;
  height: 20px;
}

.search__mounth {
  width: 100%;
  width: 100%;
}

#main {
  margin: 40px 0 0 0;
}

.movie__block-cont {
  font-size: 70px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 690px) {
  .movie__block-cont {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.movie__block {
  margin: 20px 20px 10px 20px;
  width: 300px;
  position: relative;
}

.block-movie__prev {
  position: relative;
  width: 300px;
  height: 500px;
}

.block-movie__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.block-movie__rev {
  background-color: #333333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 3%;
  left: 3%;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 20px;
}

.block-movie__author {
  text-shadow: black 2px 1px;
  font-size: 45px;
  font-weight: 600;
}

.block-movie__genres {
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 5;
  text-shadow: black 2px 1px;
  padding: 4px;
  border: 2px dotted black;
  color: rgba(255, 153, 0, 0.9);
  font-size: 20px;
  font-weight: 600;
}

.rev-red {
  border: 4px solid red;
  color: red;
}

.rev-green {
  color: #339900;
  border: 4px solid #339900;
}

.rev-yellow {
  color: #FFFF33;
  border: 4px solid #FFFF33;
}

.rev-Nan {
  color: #FF00FF;
  border: 4px solid #FF00FF;
}

.btns__mov {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0 30px 0;
}

.button__mov {
  width: 150px;
  height: 150px;
  font-size: 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.des {
  overflow: hidden;
  width: 90%;
  height: 90%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(102, 102, 102, 0.95);
  z-index: 20;
  top: 2%;
  left: 5%;
  padding: 30px;
}

@media (max-width: 1100px) {
  .des {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 670px) {
  .des {
    display: block;
    padding: 19px;
    min-height: 100%;
    max-height: 100%;
  }
}

@media (max-width: 501px) {
  .des {
    padding: 10px;
  }
}

.des__left img {
  margin-right: 20px;
  width: 23vw;
  height: 100%;
  display: inline-block;
}

@media (max-width: 1100px) {
  .des__left img {
    height: 80%;
  }
}

@media (max-width: 900px) {
  .des__left img {
    width: 30vw;
  }
}

@media (max-width: 800px) {
  .des__left img {
    display: none;
  }
}

.des__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (max-width: 600px) {
  .des__right {
    min-height: 100vw;
  }
}

.des__title {
  word-spacing: 4px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .des__title {
    margin: 8% 0 0 0;
  }
}

@media (max-width: 400px) {
  .des__title {
    font-size: 30px;
    margin: 12% 0 0 0;
  }
}

.des__genres {
  margin-bottom: 16px;
  word-spacing: 10px;
  color: #FF9900;
  font-size: 20px;
  font-weight: 600;
}

.des__text {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 0.05px;
}

@media (max-width: 760px) {
  .des__text {
    display: none;
  }
}

.des__pages {
  display: inline-block;
  font-size: 10px;
  margin: 5px 0;
  font-size: 30px;
}

@media (max-width: 501px) {
  .des__pages {
    padding: 20px;
    background-color: #181818;
  }
}

.des__pages :first-child {
  text-decoration: underline;
}

.des__pages li {
  margin: 0  14px 10px  0;
  display: inline-block;
}

@media (max-width: 421px) {
  .des__pages li {
    margin: 0  5px 5px  0;
  }
}

.des__top {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.des-top__block {
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
  min-height: 430px;
  max-height: 430px;
}

.des__ul {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.des__ul li {
  width: 100%;
  font-size: 20px;
  font-style: italic;
  margin: 4px 0;
  border: 2px solid black;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 10px;
}

@media (max-width: 421px) {
  .des__ul li {
    overflow: scroll;
    font-size: 15px;
    padding: 6px;
    margin: 2px 0;
  }
}

.des__cross i {
  text-shadow: 2px 2px black;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: white;
  top: 5%;
  right: 2%;
}

.des__actors {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

@media (max-width: 375px) {
  .des__actors {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.actor__block {
  height: 380px;
  width: 22%;
  max-width: 300px;
  margin: 1.5%;
}

@media (max-width: 900px) {
  .actor__block {
    width: 32%;
    margin: 0.5%;
  }
}

@media (max-width: 680px) {
  .actor__block {
    width: 49%;
    height: 100%;
  }
}

@media (max-width: 375px) {
  .actor__block {
    width: 78%;
  }
}

.actor__image {
  padding: 5px;
  height: 80%;
  width: 100%;
  background-color: #333333;
  border: 2px solid black;
}

.actor__image img {
  height: 100%;
  width: 100%;
}

.actor__name {
  font-size: 20px;
}

.actor__job {
  font-size: 16px;
  color: #FF9900;
}

.des__facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid black;
  background-color: rgba(51, 51, 51, 0.9);
  display: none;
  margin: 0 10px;
  padding: 20px;
  font-size: 15px;
}

@media (max-width: 1024px) {
  .des__facts {
    overflow: scroll;
  }
}

.des-facts__li {
  display: inline-block;
  min-height: 100px;
  min-width: 200px;
  color: #FF9900;
}

.des-facts__li a {
  color: white;
}

.spoiler {
  font-size: 40px;
  color: red;
}

.des__rev {
  overflow: scroll;
  padding: 20px;
  letter-spacing: 0.4px;
  margin: 10px;
  line-height: 30%;
  border: 2px solid black;
  background-color: rgba(51, 51, 51, 0.9);
  display: none;
  color: #FF9900;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.des__rev p {
  font-size: 15px;
  font-weight: 700;
}

.rev__title {
  margin: 0 0 70px 0;
  color: white;
  font-size: 32px;
}

.rev__autor {
  margin: 10px 0  20px 80%;
  color: #FF6600;
  font-style: italic;
  font-size: 25px;
}

.des__imgs {
  overflow: scroll;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.des__movie-images {
  padding: 10px;
  margin: 15px 2%;
  height: 300px;
  width: 45%;
  background-color: #333333;
  border: 2px solid black;
  min-width: 200px;
}

@media (max-width: 800px) {
  .des__movie-images {
    width: 100%;
  }
}

.des__movie-images img {
  height: 100%;
  width: 100%;
}

.search__kinopoisk {
  background-color: #FF9900;
  font-size: 20px;
  width: 150px;
  font-weight: 700;
  color: black;
  border: 2px solid black;
}

@media (max-width: 1024px) {
  .search__kinopoisk {
    position: absolute;
    left: 4px;
    top: 4px;
  }
}

.des__description {
  display: none;
  background-color: #333333;
  border: 2px solid black;
  color: white;
  font-size: 18px;
}

.footer {
  width: 100%;
  background-color: black;
}

.footer__container {
  width: 100%;
}

.footer__text {
  text-align: center;
  background-color: black;
  padding: 50px 30px;
  width: 100%;
  font-size: 40px;
  color: white;
}

.footer__text a {
  text-shadow: 2px 2px black;
  color: #FF9900;
}
/*# sourceMappingURL=style.css.map */